<div class="page-header">
  <div>
    <h2 class="page-title">Dividendos</h2>
  </div>
</div>

<div class="dv-asset-toggle" role="tablist">
  <button
    *ngFor="let ac of assetClasses"
    class="dv-asset-btn"
    [class.active]="assetType() === ac.id"
    (click)="setAssetType(ac.id)"
  >
    {{ ac.label }}
  </button>
</div>

<div class="dv-tabs">
  <button
    *ngFor="let tab of tabs"
    class="dv-tab"
    [class.active]="activeTab() === tab.id"
    (click)="setTab(tab.id)"
  >
    <span class="dv-tab-icon">{{ tab.icon }}</span>
    <span class="dv-tab-label">{{ tab.label }}</span>
  </button>
</div>

<app-dividend-history
  *ngIf="activeTab() === 'historico'"
  [assetType]="assetType()"
></app-dividend-history>
<app-dividends-summary
  *ngIf="activeTab() === 'recebidos'"
  mode="received"
  [assetType]="assetType()"
></app-dividends-summary>
<app-dividends-summary
  *ngIf="activeTab() === 'projetados'"
  mode="projected"
  [assetType]="assetType()"
></app-dividends-summary>
