<div class="dv-tabs">
  <button
    *ngFor="let tab of tabs"
    class="dv-tab"
    [class.active]="activeTab() === tab.id"
    (click)="setTab(tab.id)"
  >
    <span class="dv-tab-icon">{{ tab.icon }}</span>
    <span class="dv-tab-label">{{ tab.label }}</span>
  </button>
</div>

<app-dividend-history *ngIf="activeTab() === 'historico'"></app-dividend-history>
<app-dividends-summary *ngIf="activeTab() === 'recebidos'" mode="received"></app-dividends-summary>
<app-dividends-summary
  *ngIf="activeTab() === 'projetados'"
  mode="projected"
></app-dividends-summary>
